.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #112D4E;
    overflow-x: hidden;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 20px;
    background-color: #f9f7f7;
}
.container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.head{
    text-align: center;
}

.navbar{
    background-color: #3F72AF;
    width: 100%;
}

.btn{
    background-color: #DBE2EF;
}

.dropdown-btn {
    background-color: #343a40;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}

.dropdown-container {
display: none;
background-color: #343a40;
padding-left: 10px;
}

.dropdown-btn:hover + .dropdown-container, .dropdown-container:hover {
display: block;
}

.dropdown-container a {
color: white;
padding: 10px 15px;
text-decoration: none;
display: block;
}

.dropdown-container a:hover {
background-color: #45a049;
}